data/*
*.pyc
checkpoints*
*.txt
*.lprof
wandb/*
.vscode/*
!requirements.txt
*.zip
*.DS_Store
figs/*
*.pkl
config/*
z/*
*.sh
*.log
machine*
cache/*
report/figures/*
report/*.*
!report/figures/QBT.png
!report/M3IL.pdf